---
import { OTHER_WORK_LINKS, SOCIAL_LINKS } from '../consts';
import LinksList from './LinksList.astro';
import NavLink from './NavLink.astro';

const today = new Date();
---

<footer class="grid grid-cols-1 gap-6 py-5">
  <LinksList>
    <h2 slot="headline">Let's be friends!</h2>
    {
      SOCIAL_LINKS.map(({ url, label, isExternal }) => (
        <li>
          <NavLink href={url} isExternal={isExternal}>
            {label}
          </NavLink>
        </li>
      ))
    }
  </LinksList>
  <LinksList>
    <h2 slot="headline">I'm also a...</h2>
    {
      OTHER_WORK_LINKS.map(({ url, label, isExternal }) => (
        <li class="inline-block">
          <NavLink href={url} isExternal={isExternal}>
            {label}
          </NavLink>
        </li>
      ))
    }
  </LinksList>
  <p class="py-5 text-base md:text-lg">
    &copy; {today.getFullYear()} Geraldine Ragsac. All rights reserved.
  </p>
</footer>
