---
import type { ImageMetadata } from 'astro';
import Badge from './Badge.astro';
import CTALink from './CTALink.astro';
import { Image } from 'astro:assets';

const { title, hook, image, thumbnailPath, link, techStack } = Astro.props;

type Props = {
  title: string;
  hook: string;
  image?: string;
  thumbnailPath: string;
  link: string;
  techStack: Array<string>;
};

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/thumbnails/*.{jpeg,jpg,png,gif}'
);
if (!images[thumbnailPath]) {
  console.warn(
    `"${thumbnailPath}" does not exist in glob: "src/assets/thumbnails/*.{jpeg,jpg,png,gif}"`
  );
}
---

<article
  class="border-lightbrown grid w-full grid-cols-1 rounded-2xl border bg-white"
>
  {
    image && (
      <img
        class="border-b-lightbrown rounded-2xl border-b"
        src={image}
        alt={title}
      />
    )
  }
  {
    images[thumbnailPath] && (
      <Image
        class="border-b-lightbrown rounded-2xl border-b"
        src={images[thumbnailPath]()}
        alt={title}
      />
    )
  }
  <div class="grid w-full grid-cols-1 gap-4 p-6 md:gap-10 md:p-10">
    <section class="grid grid-cols-1 gap-4">
      <h3>{title}</h3>
      <p>{hook}</p>
      <p>
        {
          link && (
            <CTALink href={link} isExternal={false} color="goldenyellow">
              View Project ↗
            </CTALink>
          )
        }
      </p>
    </section>
    <ul class="flex w-full flex-wrap gap-2">
      {
        techStack.map((item) => (
          <li>
            <Badge>{item}</Badge>
          </li>
        ))
      }
    </ul>
  </div>
</article>
