---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import OverviewChunk from '../components/OverviewChunk.astro';
import CTALink from '../components/CTALink.astro';
import { SITE_TITLE } from '../consts';

type Props = CollectionEntry<'projects'>['data'];

const {
  title,
  hook,
  liveLink,
  repoLink,
  techStack,
  coverImage,
  projectType,
  duration,
  role,
  overview,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={`${title} | ${SITE_TITLE}`} description={hook} />
  </head>
  <body>
    <Header />
    <main class="mx-auto h-full w-full max-w-6xl px-5 py-8 md:px-20 md:py-16">
      <article class="grid grid-cols-1 gap-10">
        <h1 class="!md:text-7xl text-center !text-5xl">{title}</h1>
        <section>
          <h2>summary</h2>
          <div class="flex flex-col md:flex-row md:gap-6">
            <div class="grid w-full grid-cols-1 content-start gap-2 md:w-2/5">
              <OverviewChunk headline="Project Type"
                ><p>{projectType}</p></OverviewChunk
              >
              <OverviewChunk headline="Duration"
                ><p>{duration}</p></OverviewChunk
              >
              <OverviewChunk headline="Role"><p>{role}</p></OverviewChunk>
              <OverviewChunk headline="Technologies"
                ><p>{techStack.join(', ')}</p></OverviewChunk
              >
            </div>
            <div class="grid w-full grid-cols-1 gap-4 md:w-3/5">
              <div>
                <OverviewChunk headline="Overview">
                  <div>
                    {overview.map((item) => <p>{item}</p>)}
                  </div></OverviewChunk
                >
              </div>
              <div class="flex h-fit flex-col gap-5 md:flex-row">
                {
                  liveLink && (
                    <CTALink
                      href={liveLink}
                      isExternal={true}
                      color="goldenyellow"
                    >
                      Live Link
                    </CTALink>
                  )
                }
                <CTALink href={repoLink} isExternal={true} color="coral"
                  >GitHub Repo</CTALink
                >
              </div>
            </div>
          </div>
        </section>
        <hr />
        {
          coverImage && (
            <section>
              <Image width={1020} height={510} src={coverImage} alt="" />
            </section>
          )
        }
        <section class="project-page">
          <slot />
        </section>
      </article>
    </main>
    <Footer />
  </body>
</html>
